* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --co101: rgb(0,0,0);
    --co102: rgb(69, 69, 69);
    --co103: rgb(149, 149, 149);
    --co104: rgb(217, 217, 217);
    --border: 10px solid var(--co102);
}

#content {
    background-color: black;
    width: 100px;
    height: 100px;
    border: 10px;
    margin: 10px;

}

#top {
    background-color: black;
    width: 100px;
    height: 100px;
    border: 10px;
    margin: 10px;
}

#middle {

}

#bottom {

}

#b1 {
    background-color: black;
    width: 100px;
    height: 100px;
    border: 10px;
    margin: 10px;
}

#b2 {}

#b3 {}

#b4 {}

#b5 {}

#b6 {}

#b7 {}

#b8 {}

#b9 {}

#bg-wrapper {
    background-color: black;
    /* fit 9:16 to hight */
    width: 71vh;
    height: 100vh;
    /* fit 9:16 to width */
    /* width: 99vw; 
    height:177vw; */
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: brown;
}