* {
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0;
}

/* I'm very interested in blue, white and hints of silver/grey colour palettes as of recent. To me, these colours represent early computers. Most pc bodies were white, symbolizing a modern item that acts as a blank canvas of endless possibilities. The blue screen is very symbolic of a window, acting as an entry point to this new world. Blue is also associated with security. I wanted to try and reimage the style of the early internet in a modern way to make, to a new experience seem less scary. My colour palette is also inspired by this image https://i.pinimg.com/564x/c1/ff/8f/c1ff8fa5e20b3b96060d8afc53c88b10.jpg. The work is from 2009 and also tries to recreate early internet style in a modern way */

:root {
    --co101: #FCFCFC;
    --co102: hsl(203, 64%, 88%, 0.9);
    --co103: hsl(202, 75%, 73%, 0.8);
}

/* My page layout is referenced from Naoko Takeuchi's work. https://rmit.instructure.com/courses/112045/files/28725880?module_item_id=4750515. I however wanted to translate this style almost into a webcomic one for a wide screen. This is because I wanted the user to be able to scroll through the website, making the experience more immersive and allowing for more interactions. Not showing all the content at once makes anticipations as the website expands beyond the real dimensions of a pc. An existing idea that was presented around early technology creation. */

.bg {
    margin: auto;
    width: 65%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

p {
    color: var(--co101)
}


h1 {
    color: var(--co101);
    font-family: sofachrome;
    -webkit-text-stroke: 2.5px var(--co103);
    font-size: 80px;
}

/* This sans serif fount is the perfect balance between modern and an early internet style. It's interesting, sharp, and sits well with my overall style */

@font-face {
    font-family: 'sofachrome';
    src: url(fonts/sofachrome);
}

.top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
    row-gap: 10px;
}

/* Thanks to the use of https://www.youtube.com/watch?v=_HTL0XSMcRQ I was able to understand how to overlay content. This has been something I wanted to learn as it can modernise older-looking interfaces. */

.top2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: -318px;
    row-gap: 10px;
    padding: 10px;
}

.middle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    row-gap: 10px;
    padding: 10px;
    margin-top: 10px;
}

.bottom2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: -319px;
    row-gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

/* I ended up making my colour placement random due to the tons of content boxes within this layout. I ended up going with this idea because of this photo https://i.pinimg.com/564x/26/12/3d/26123d4d4a638f8ef964e795e067666b.jpg as it used its gradients in such a way to define each box, without each box getting lost in the background. This older interface also incorporates rounded edges, pleasing the user's eyes instead of attacking them with sharp edges. I added transparency to the boxes to add depth and interest, to enhance and modernise the still reference image layout */

.b1 {
    background-color: var(--co103);
    width: 220px;
    height: 290px;
    margin-right: 10%;
    margin-left: 5%;
    padding: 20px;
}

.b2 {
    background-color: var(--co102);
    width: 250px;
    height: 240px;
    padding: 20px;
}

.b3 {
    background-color: var(--co103);
    width: 200px;
    height: 450px;
    padding: 20px;
}

.b4 {
    background-color: var(--co102);
    width: 230px;
    height: 250px;
    margin-right: 10%;
    padding: 20px;
}

.b5 {
    background-color: var(--co103);
    width: 250px;
    height: 300px;
    padding: 20px;
}

/* Before this was a big blue box. It ruined the look of the site, I tried a border but it just didn’t sit right. Making the box the same as the background gives a visual break but leaves a huge uneasy space in between, therefore filling it with something that doesn't take up the whole box content would be the way to go. It is a bit odd to have such large text display this low in the hierarchy but it works like a footer, acting as a base for the content above. It's also experimental just like other personal blogs from the early internet. */

.b6 {
    width: 100%;
    text-align: center;
    padding: 50px;
}

.b7 {
    background-color: var(--co102);
    width: 420px;
    height: 320px;
    padding: 20px;
}

.b8 {
    background-color: var(--co103);
    width: 250px;
    height: 370px;
    margin-left: 3%;
    padding: 20px;
}

.b9 {
    background-color: var(--co103);
    width: 280px;
    height: 300px;
    padding: 20px;
}